/*
    colors

    navy: #262e5e
    red: #a81e1e
    light blue: #deecf7

*/


/* === general =======================================
=================================================== */


* {
    margin: 0;
    padding: 0;
}

body {
    background: #f2efef;
    color: #000;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #a81e1e;
    font-size: 40px;
    font-weight: bolder;
}

h2 {
    color: #deecf7;
    font-size: 35px;
    font-weight: 500;
}

h3 {
    color: #262e5e;
    font-size: 25px;
    font-weight: normal;
}

h4 {
    font-size: 18px;
}

li {
    display: inline-block;
}


/* === welcome (index.html) ==========================
=================================================== */


.container {
    background: #fff;
    margin: 0 auto;
    width: 70%;
}

#mainWrap {
    margin: 0 auto;
}

/* ---- header/footer ---- */

header {
    margin: 15px auto;
    text-align: center;
}

.headerContent {
    border-top: 10px solid #a81e1e;
    padding: 15px;
}

footer {
    padding: 15px;
}

/* ---- main nav ---- */

#mainNav {
    background: #deecf7;
    padding: 15px;
}

#mainNav a:link,
#mainNav a:visited {
    background: none;
    color: #262e5e;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
}

#mainNav a:hover {
    background: #262e5e;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
}

#mainNav a:active {
    background: none;
    color: #262e5e;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
}

/* ---- login nav ---- */


#loginNav {
    background: #262e5e;
    padding: 15px;
}

#loginNav a:link,
#loginNav a:visited {
    background: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
}

#loginNav a:hover {
    background: #deecf7;
    color: #262e5e;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
}

#loginNav a:active {
    background: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
}

/* ---- body ---- */

#heroWrap {
    padding: 15px;
}

/* ---- form ---- */

/*form {*/
    /*border: 3px solid #f1f1f1;*/
/*}*/

.formContainer {
    margin: 0 auto;
    padding: 15px;
    width: 400px;
}

input[type=text],
input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
}

.buttonLog {
    background-color: #deecf7;
    color: #262e5e;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.buttonLog:hover {
    background-color: #c9dbe6;
    color: #262e5e;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.buttonCan {
    background-color: #a81e1e;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

.buttonCan:hover {
    background-color: #a81e1e;
    color: 262#fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}