@mixin easer {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

@mixin border {
  border-radius: 5px;
}

@mixin dropShadow {
  -webkit-box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.2);
  box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.2);
}

// clock turn
@keyframes rotate {
  100% {
      transform: rotateZ(-360deg);
    }
}

.minute-container {
  position: absolute;
  animation: rotate 10s infinite linear;
  width: 36px;
  height: 36px;
}

.minute {
  content: '';
  width: 2px;
  height: 18px;
  background: white;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  margin-left: -2.5px;
}