
header {
  #mainNav {
    li {
      a {font-size: 0;}
    }
    background: $dirt;
    border-radius: 0 5px 5px 0;
    float: left;
    height: 26px;
    left: 0;
    padding: 15px;
    position: fixed;
    top: 30px;
    width: 30px;
    z-index: 5;
    @include easer;
    li {display: inline-block;}
    &:before {
      content: '';
      width: 15px;
      border-top: solid 3px white;
      position: absolute;
      top: 22px;
      right: 20px;
      transform: rotate(45deg);
      z-index: 2;
      @include easer;
    }
    &:after {
      content: '';
      width: 15px;
      border-top: solid 3px white;
      position: absolute;
      top: 31px;
      right: 20px;
      transform: rotate(-45deg);
      z-index: 2;
      @include easer;
    }
    &:hover {
      position: fixed;
      left: -10px;
      width: 400px;
      z-index: 5;
      @include easer;
      &:before {
        border-top: solid 3px $tan;
        transform: rotate(-45deg);
        @include easer;
      }
      &:after {
        border-top: solid 3px $tan;
        transform: rotate(45deg);
        @include easer;
      }
      a {
        &:link,
        &:visited {
          color: white;
          font-size: 14px;
          font-weight: lighter;
          text-decoration: none;
          padding: 14px 25px;
          @include easer;
        }
        &:hover {
          color: white;
          font-size: 14px;
          font-weight: lighter;
          text-decoration: underline;
          padding: 14px 25px;
          @include easer;
        }
        &:active {
          color: white;
          font-size: 14px;
          font-weight: lighter;
          text-decoration: none;
          padding: 14px 25px;
          @include easer;
        }
      }
    }
  }

  #loginNav {
    li {
      &:first-child {
        a {
          margin-left: 10px;
        }
      }
      a {font-size: 0;}
    }
    background: $salmon;
    border-radius: 5px 0 0 5px;
    float: right;
    height: 26px;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 30px;
    text-align: right;
    width: 35px;
    z-index: 5;
    @include easer;
    li {display: inline-block;}
    &:before {
      content: '';
      width: 15px;
      border-top: solid 3px white;
      position: absolute;
      top: 22px;
      left: 20px;
      transform: rotate(-45deg);
      z-index: 2;
      @include easer;
    }
    &:after {
      content: '';
      width: 15px;
      border-top: solid 3px white;
      position: absolute;
      top: 31px;
      left: 20px;
      transform: rotate(45deg);
      z-index: 2;
      @include easer;
    }
    &:hover {
      position: fixed;
      width: 300px;
      z-index: 5;
      @include easer;
      &:before {
        border-top: solid 3px $tuna;
        transform: rotate(45deg);
        @include easer;
      }
      &:after {
        border-top: solid 3px $tuna;
        transform: rotate(-45deg);
        @include easer;
      }
      a {
        &:link,
        &:visited {
          color: white;
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
          padding: 14px 25px;
          @include easer;
        }
        &:hover {
          color: white;
          font-size: 14px;
          font-weight: bold;
          text-decoration: underline;
          padding: 14px 25px;
          @include easer;
        }
        &:active {
          color: white;
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
          padding: 14px 25px;
          @include easer;
        }
      }
    }
  }
}

