

//text color (sitewide)
$dirt: #7c786a;
$tan: #a7a393;
$blue: #8dcdc1;
$green: #d4e497;
$yellow: #fff5c3;
$salmon: #e06c60;
$tuna: #f49272;
$bg: #f2efef;


// Main Colors

  //links


//Font Sizing

$h1-size: 60px;
$h1-line-height: 62px;

$h2-size: 35px;
$h2-line-height: 37px;

$h3-size: 25px;
$h3-line-height: 27px;

$h4-size: 18px;
$h4-line-height: 20px;
